{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags cache %}
{% load static %}

{% block banner %}


<!-- Slideshow Section -->
<header id="home" class="carousel slide" data-bs-ride="carousel" style="margin-bottom: 0; height: 100vh; overflow: hidden; background-color: rgb(1, 0, 0);">
  <div class="header-overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: transparent; z-index: 1;"></div>

  <!-- Carousel Indicators -->
  <div class="carousel-inner" style="height: 100%; width:100%; overflow-x: hidden;">
    
    <!-- First Slide -->
    <div class="carousel-item active" data-bs-interval="10000">
      {% if page.banner_background_image1 %}
      <div class="carousel-background" 
           style="background-image: url('{{ page.banner_background_image1.file.url }}'); 
                  background-repeat: repeat;
                  background-size: contain;
                  background-position: center;
                  width: 100%; height: 100vh;">
      </div>
      {% endif %}
       
    </div>

    <!-- Second Slide -->
    <div class="carousel-item" data-bs-interval="10000">
      {% if page.banner_background_image2 %}
      <div class="carousel-background" 
           style="background-image: url('{{ page.banner_background_image2.file.url }}'); 
                  background-repeat: repeat;
                  background-size: contain;
                  background-position: center;
                  width: 100%; height: 100vh;">
      </div>
      {% endif %}
      <div class="carousel-caption d-none d-md-block text-dark" style="margin-bottom: 10%; font-size: xx-large; width: 200px; height: 150px; background-color:transparent; align-self: center; justify-self: center; z-index: 2;">
        <a target="_blank" href="https://www.instantseats.com/index.cfm?fuseaction=home.event&eventID=8A0EA563-DEF5-6566-32682C9E6E728FC2" style="display: block; height: 100%; width: 100%;"></a>  <!-- Link to Tickets -->
      </div>    
    </div>

    <!-- Third Slide -->
    <div class="carousel-item" data-bs-interval="10000">
      {% if page.banner_background_image3 %}
      <div class="carousel-background" 
           style="background-image: url('{{ page.banner_background_image3.file.url }}'); 
                  background-repeat: repeat;
                  background-size: contain;
                  background-position: center;
                  width: 100%; height: 100vh;">
      </div>
      {% endif %}
      <div class="carousel-caption d-none d-md-block text-dark" style="margin-bottom: 10%; font-size: xx-large; width: 200px; height: 150px; background-color:transparent; align-self: center; justify-self: center; z-index: 2;">
        <a href="#shows" style="display: block; height: 100%; width: 100%;"></a>  <!-- Link to Tickets -->
      </div> 
    </div>

    <div class="carousel-indicators" style="margin-bottom: 2%;">
      <button type="button" data-bs-target="#home" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#home" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#home" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
  </div>
</header>


<section id="about" class="py-5 text-light position-relative">
  <div class="parallax-bg position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25" 
       style="background-image: url('{% static "images/Slide-Show-1.jpg" %}'); background-size: cover; background-attachment: fixed; z-index: -1;">
  </div>
  <div class="container">
      <!-- Hero Content Row -->
      <div class="row align-items-center mb-5 flex-column flex-md-row">
          <!-- Profile Image in Upper Left Corner -->
          <div class="col-auto text-start">
            <div class="profile-image-container position-relative">
              <img src="{% static 'images/PROF.png' %}" alt="About-picture"
                   class="img-fluid rounded-circle shadow-lg border border-4 border-danger profile-img" style="width: 90%; height: 200px;">
          </div>
          
          </div>
          <!-- Hero Text -->
          <div class="col text-center text-md-start mt-3 mt-md-0">
              <h3 class="display-1  text-gradient"> Mary Gatchell</h3>
          </div>
      </div>

      <!-- Description with Two Columns -->
      <div class="row ">
          <div class="col-md-6 ">
              <p class="fs-6">
              New York City’s Mary Gatchell is a soulful and multi-faceted composer, singer, songwriter, oboist, pianist, conductor, music director, and educator. Originally from Epping, New Hampshire, Mary earned both her Bachelor’s degree in Jazz Theory and Composition and her Master’s degree in Jazz Piano from New York University.
              </p>
              <p class="fs-6">
              A prolific songwriter and recording artist, Mary has released 13 albums of her original music, including works for children, collections of hymns and spirituals, and jazz standards. Her 2024 vinyl release, <em>Destiny</em>, produced by ATN Stadwijk, features her original compositions inspired by the poetry of Rabia of Basra, Rumi, Dante, Hafiz, St. Catherine of Siena, and Farouk Henry, available exclusively on vinyl.
              </p>
              <p class="fs-6">
              Recorded with her band, Mary’s single, "Istanbul" (November 2025), also produced by ATN Stadwijk, draws from her travels in the beautiful Turkish city, featuring virtuoso Ismail Lumanovski on the Turkish clarinet. Mary’s composition, "Weave Athena", was released in the spring of 2026.
              </p>
              <p class="fs-6">
              Raised in a home filled with music and theatre, Mary grew up performing at the Leddy Center for the Performing Arts, founded by her mother, Elaine Gatchell, and playing in her father J. Bruce Gatchell’s concert and jazz bands. Her early experiences singing, acting, dancing, and performing on oboe and piano formed the foundation for her distinctive artistry—an expressive blend of Broadway, jazz, and classical influence.
              </p>
              <p class="fs-6">
              After completing her studies at NYU, Mary established herself on New York’s most iconic stages, performing at Blue Note, Carnegie Hall, Avery Fisher Hall, Birdland, Knitting Factory, Bitter End, Cutting Room, Rockwood Music Hall, Groove, and CBGB’s and more. Her Broadway credits include performances at the Lamb’s Theatre, Minskoff Theatre, Lena Horne Theatre (formerly Brooks Atkinson), and Barrymore Theatre. Internationally, she has brought her original music to concert halls, opera houses, jazz clubs, and festivals throughout Italy.
              </p>
              <p class="fs-6">
              Mary performed with The Rolling Stones for their 50th Anniversary Tour, appearing at Barclays Center and Prudential Center with the acclaimed Ghostlight Chorus. In 2018, she was the pianist for NBC’s <em>Jesus Christ Superstar Live</em> starring John Legend, Sara Bareilles, and Alice Cooper. From 2019 onward, she served as a conductor and pianist on Broadway for <em>Waitress</em>, and in 2021 joined <em>Six: The Musical</em> until her move to Abu Dhabi where she is currently a Visiting Lecturer of Music at NYU Abu Dhabi.
              </p>
          </div>
          <div class="col-md-6 border-md-start ">
              <p class="fs-6">
              Mary’s recent compositional work includes two world premieres (2024–2025) in New York City: <em>Giza Suite</em> for woodwind quintet, inspired by her travels in Egypt, and <em>Symphony No. 1: Gram’s 12 Tone Rows</em>, an orchestral work based on tone rows composed by her grandmother, Dorothy Bassett, expanded and developed in collaboration with her father. The 5th and final movement of this symphony, <em>Selah V</em>, was premiered on March 13, 2026 in NYC.
              </p>
              <p class="fs-6">
              In 2023, her choral piece <em>Paradiso Canto 33</em> premiered by Ghostlight Chorus, conducted by Dr. Evelyn DeGraf in Siena, Italy, setting Dante’s transcendent text to music for a cappella choir.
              </p>
              <p class="fs-6">
              Since 2008, Mary has been the principal oboist with the Leon Lacey Orchestra (Beyoncé/Janet Jackson), performing all over NYC including Brooklyn’s Kings Theatre, alongside gospel legends Yolanda Adams, Kim Burrell, Tye Tribbett, and Donald Lawrence. She also performs with the New York Chamber Players, appearing at Carnegie Hall and other various chamber ensembles and orchestras around the city.
              </p>
              <p class="fs-6">
              In addition to her classical and Broadway work, Mary is a dynamic singer and performer in New York’s live music scene, including singing with the New Orleans–inspired funk band, Strangeland, performing regularly at the iconic Bitter End, the storied home of artists like Joni Mitchell and Bob Dylan.
              </p>
              <p class="fs-6">
              A passionate educator, Mary taught at Nyack College from 2015–2022, leading courses in ear training, theory, acting, and conducting. She co-directed the college’s Chorale and music-directed and choreographed stage productions including <em>West Side Story</em>, <em>In the Heights</em>, <em>The Wiz</em>, <em>Jesus Christ Superstar</em>, and <em>Dreamgirls</em>.
              </p>
              <p class="fs-6">
              Her commitment to using music as a tool for healing and connection has taken her abroad with the Worldwide Orphans Foundation, where she implemented sustainable music programs for children in Ethiopia and Bulgaria.
              </p>
              <p class="fs-6">
              As co-founder and artistic director of <em>Siena Summer Music</em> (2008–2016), Mary brought together classical musicians from around the world to study and perform in historic cathedrals, concert halls, and picturesque courtyards across Tuscany.
              </p>
              <p class="fs-6">
              Mary’s music is available on all streaming platforms and at <a href="https://www.marygatchell.com" target="_blank" class="text-gradient" style="-webkit-background-clip: text; color: transparent;">www.marygatchell.com</a>.
              </p>
          </div>
      </div>

      <!-- Call to Action Buttons -->
      

      <!-- Highlights Section -->
      <div class="row text-center text-md-start py-4 border-top border-light mt-5">
        <div class="col-md-4">
            <div class="highlight-box position-relative p-4">
                <a href="#shop" style="text-decoration: none;">
                    <i class="bi bi-award fs-1 text-light" style="align-self: center;"></i>
                    <h3 class="mt-3 fw-bold text-light">Albums</h3>
                    <p class="p1 text-gradient">Dominating with record-breaking sales.</p>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="highlight-box position-relative p-4">
                <a href="#shows" style="text-decoration: none;">
                    <i class="bi bi-mic-fill fs-1 text-light"></i>
                    <h3 class="mt-3 fw-bold text-light">Live Shows</h3>
                    <p class="p1 text-gradient">Mesmerizing audiences in different countries worldwide.</p>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="highlight-box position-relative p-4">
                <a href="https://open.spotify.com/artist/0CACNK11rIlABl0o9z4oiS?si=uHolQOApSIqiyGiLdaeCOA" target="_blank" style="text-decoration: none;">
                    <i class="bi bi-headphones fs-1 text-light"></i>
                    <h3 class="mt-3 fw-bold text-light">Streams</h3>
                    <p class="p1 text-gradient">Music that resonates with millions across platforms.</p>
                </a>
            </div>
        </div>
    </div>
    
  </div>

  <!-- Parallax Background -->
  
</section>

<section id="listen" class="py-5 text-light" style="font-family: 'Roboto', sans-serif;">
  <div class="parallax-bg position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25" 
       style="background-image: url('{% static "images/Slide-Show-1.jpg" %}'); background-size: cover; background-attachment: fixed; z-index: -1;">
  </div>
  <div class="container">
      <h3 class="display-1  text-gradient mb-4 text-center">Listen</h3>

      <!-- Spotify Playlist Embed -->
      <div class="row justify-content-center" >
          <div class="col-md-8">
              <div class="spotify-embed rounded shadow-lg overflow-hidden">
                  <iframe 
                      style="border-radius:12px" 
                      src="https://open.spotify.com/embed/playlist/42OpqimJRakhQ785JhgXZ5?utm_source=generator&theme=0" 
                      width="100%" 
                      height="400" 
                      frameborder="0" 
                      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
                      loading="lazy">
                  </iframe>
              </div>
          </div>
      </div>

      <!-- Description -->
      <div class="row text-center mt-4">
          <div class="col">
              <a href="https://open.spotify.com/artist/0CACNK11rIlABl0o9z4oiS?si=EfJswTcwQ1-koCA3hApbMg" target="_blank" 
                 class="btn btn-outline-light btn-lg px-5 py-3 shadow-sm">
                 Follow on Spotify
              </a>
          </div>
      </div>
  </div>
</section>

<section id="watch" class="py-5 text-light" 
    style="font-family: 'Roboto', sans-serif; 
           background-size: cover;  
           background-position: center;  
           background-image: url('{% static "images/g10.jpg" %}');">
  <div class="container">
      <h3 class="display-1 text-gradient mb-4 text-center">Watch</h3>

      <!-- Row for YouTube Videos -->
      <div class="row">
          <!-- Left Video -->
          <div class="col-md-6 mb-4">
              <div class="youtube-embed rounded shadow-lg overflow-hidden" style="border: 1px solid #ff9900;">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/7EnzKscbwr4?si=pg_x75B0wYz-d4_I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              </div>
          </div>

          <!-- Right Video -->
          <div class="col-md-6 mb-4">
              <div class="youtube-embed rounded shadow-lg overflow-hidden" style="border: 1px solid #ff9900;">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/pZB71aUByqI?si=_a9ARVgow56PUBpa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              </div>
          </div>
      </div>

      <!-- Button to YouTube Channel -->
      <div class="row text-center mt-4">
          <div class="col">
              <a href="https://www.youtube.com/@marygatchellTV" target="_blank" 
                 class="btn btn-outline-light btn-lg px-5 py-3 shadow-sm">
                 Visit Channel
              </a>
          </div>
      </div>
  </div>
</section>



<section id="shows" class="py-5 text-light" style="font-family: 'Roboto', sans-serif;">
  <div class="parallax-bg position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25" 
       style="background-image: url('{% static "images/Slide-Show-1.jpg" %}'); background-size: cover; background-attachment: fixed; z-index: -1;">
  </div>
  <div class="container">
      <h3 class="display-1 text-gradient mb-4 text-center">Shows</h3>

      <!-- Upcoming Shows List -->
      <h2 class="text-center mb-4">Upcoming Shows</h2>
      <div class="row text-center text-md-start gy-4">
          {% for show in page.get_upcoming_shows %}
          <div class="col-md-4">
              <div class="position-relative p-4 card12 bg-opacity-50 rounded shadow-lg highlight-box1">
                  {% if show.poster_image %}
                  <div class="mb-3">
                      <img src="{{ show.poster_image.file.url }}" alt="{{ show.name }}" class="img-fluid rounded shadow-sm">
                  </div>
                  {% endif %}
                  <h3 class="fw-bold text-gradient">{{ show.name }}</h3>
                  <p class="fs-6 mb-1"><i class="bi bi-calendar3"></i> {{ show.date_time|date:"D, M d @ h:i A" }}</p>
                  <p class="fs-6 mb-3"><i class="bi bi-geo-alt"></i> 
                      <a href="{{ show.venue_url }}" target="_blank" class="text-decoration-none text-warning">{{ show.venue }}</a>
                  </p>
                  <p class="fs-6 text-light">{{ show.description|richtext }}</p>
                  {% if show.ticket_url %}
                  <a href="{{ show.ticket_url }}" class="btn text-gradient btn-sm" target="_blank">Get Tickets</a>
                  {% endif %}
              </div>
          </div>
          {% empty %}
          <p class="text-center">No upcoming shows available.</p>
          {% endfor %}
      </div>

      <!-- Expand/Collapse Button for Past Shows -->
      <div class="text-center mt-5">
          <button class="btn btn-outline-light btn-lg px-5 py-3 shadow-sm" 
                  type="button" 
                  id="toggle-past-shows-btn">
              View Past Shows
          </button>
      </div>

      <!-- Old Shows List -->
      <div class="mt-4 d-none" id="old-shows">
          <div class="row text-center text-md-start gy-4">
              {% for show in page.get_past_shows %}
              <div class="col-md-4">
                  <div class="position-relative p-4 card12 bg-opacity-50 rounded shadow-lg highlight-box1">
                      {% if show.poster_image %}
                      <div class="mb-3">
                          <img src="{{ show.poster_image.file.url }}" alt="{{ show.name }}" class="img-fluid rounded shadow-sm">
                      </div>
                      {% endif %}
                      <h3 class="fw-bold text-gradient">{{ show.name }}</h3>
                      <p class="fs-6 mb-1"><i class="bi bi-calendar3"></i> {{ show.date_time|date:"D, M d @ h:i A" }}</p>
                      <p class="fs-6 mb-3"><i class="bi bi-geo-alt"></i> 
                          <a href="{{ show.venue_url }}" target="_blank" class="text-decoration-none text-warning">{{ show.venue }}</a>
                      </p>
                      <p class="fs-6 text-light">{{ show.description|richtext }}</p>
                  </div>
              </div>
              {% empty %}
              <p class="text-center">No past shows available.</p>
              {% endfor %}
          </div>
      </div>
  </div>
</section>


<section id="gallery" class="py-5 text-light">
  <div class="parallax-bg position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25" 
       style="background-image: url('{% static "images/Slide-Show-1.jpg" %}'); background-size: cover; background-attachment: fixed; z-index: -1;">
  </div>
  <div class="container">
      <h3 class="text-center display-1  text-gradient mb-4">Gallery</h3>

      <!-- Gallery Grid -->
      <div class="row row-cols-1 row-cols-md-3 g-4">
          <!-- Image 1 -->
          <div class="col">
              <div class="gallery-item gallery-image">
                  <img src="{% static 'images/G-1.jpg' %}" alt="Gallery Image 1" class="img-fluid rounded shadow-sm gallery-image" data-bs-toggle="modal" data-bs-target="#imageModal1">
              </div>
          </div>
          <!-- Image 2 -->
          <div class="col">
              <div class="gallery-item gallery-image">
                  <img src="{% static 'images/G-2.jpg' %}" alt="Gallery Image 2" class="img-fluid rounded shadow-sm gallery-image" data-bs-toggle="modal" data-bs-target="#imageModal2">
              </div>
          </div>
          <!-- Image 3 -->
          <div class="col">
              <div class="gallery-item gallery-image">
                  <img src="{% static 'images/G-3.jpg' %}" alt="Gallery Image 3" class="img-fluid rounded shadow-sm gallery-image" data-bs-toggle="modal" data-bs-target="#imageModal3">
              </div>
          </div>
          <!-- Image 4 -->
          <div class="col">
              <div class="gallery-item gallery-image">
                  <img src="{% static 'images/G4.jpg' %}" alt="Gallery Image 4" class="img-fluid rounded shadow-sm gallery-image" data-bs-toggle="modal" data-bs-target="#imageModal4">
              </div>
          </div>
          <!-- Image 5 -->
          <div class="col">
              <div class="gallery-item gallery-image">
                  <img src="{% static 'images/G5.jpg' %}" alt="Gallery Image 5" class="img-fluid rounded shadow-sm gallery-image" data-bs-toggle="modal" data-bs-target="#imageModal5">
              </div>
          </div>
          <!-- Image 6 -->
          <div class="col">
              <div class="gallery-item gallery-image">
                  <img src="{% static 'images/G-6.jpg' %}" alt="Gallery Image 6" class="img-fluid rounded shadow-sm gallery-image" data-bs-toggle="modal" data-bs-target="#imageModal6">
              </div>
          </div>
          <div class="col">
            <div class="gallery-item gallery-image">
                <img src="{% static 'images/G6.jpg' %}" alt="Gallery Image 7" class="img-fluid rounded shadow-sm gallery-image" data-bs-toggle="modal" data-bs-target="#imageModal7">
            </div>
          </div>
          <div class="col">
            <div class="gallery-item gallery-image">
                <img src="{% static 'images/G-8.jpg' %}" alt="Gallery Image 8" class="img-fluid rounded shadow-sm gallery-image" data-bs-toggle="modal" data-bs-target="#imageModal8">
            </div>
          </div>
          <div class="col">
              <div class="gallery-item gallery-image">
                  <img src="{% static 'images/G-9.jpg' %}" alt="Gallery Image 9" class="img-fluid rounded shadow-sm gallery-image" data-bs-toggle="modal" data-bs-target="#imageModal9">
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Modal 1 -->
<div class="modal fade" id="imageModal1" tabindex="-1" aria-labelledby="imageModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{% static 'images/G-1.jpg' %}" class="img-fluid" alt="Full Image 1">
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="imageModal2" tabindex="-1" aria-labelledby="imageModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{% static 'images/G-2.jpg' %}" class="img-fluid" alt="Full Image 2">
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 -->
<div class="modal fade" id="imageModal3" tabindex="-1" aria-labelledby="imageModalLabel3" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{% static 'images/G-3.jpg' %}" class="img-fluid" alt="Full Image 3">
      </div>
    </div>
  </div>
</div>

<!-- Modal 4 -->
<div class="modal fade" id="imageModal4" tabindex="-1" aria-labelledby="imageModalLabel4" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{% static 'images/G4.jpg' %}" class="img-fluid" alt="Full Image 4">
      </div>
    </div>
  </div>
</div>

<!-- Modal 5 -->
<div class="modal fade" id="imageModal5" tabindex="-1" aria-labelledby="imageModalLabel5" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{% static 'images/G5.jpg' %}" class="img-fluid" alt="Full Image 5">
      </div>
    </div>
  </div>
</div>

<!-- Modal 6 -->
<div class="modal fade" id="imageModal6" tabindex="-1" aria-labelledby="imageModalLabel6" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{% static 'images/G-6.jpg' %}" class="img-fluid" alt="Full Image 6">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="imageModal7" tabindex="-1" aria-labelledby="imageModalLabel7" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{% static 'images/G6.jpg' %}" class="img-fluid" alt="Full Image 6">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="imageModal8" tabindex="-1" aria-labelledby="imageModalLabel8" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{% static 'images/G-8.jpg' %}" class="img-fluid" alt="Full Image 6">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="imageModal9" tabindex="-1" aria-labelledby="imageModalLabel9" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{% static 'images/G-9.jpg' %}" class="img-fluid" alt="Full Image 6">
      </div>
    </div>
  </div>
</div>

<section id="projects" class="py-5 position-relative">
  <!-- Parallax Background -->
  <div class="parallax-bg position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25" 
       style="background-image: url('{% static "images/Slide-Show-1.jpg" %}'); background-size: cover; background-attachment: fixed; z-index: -1;">
  </div>
  
  <div class="container">
    <h3 class="display-1  text-gradient mb-5 text-center">Projects</h3>

    <!-- Symphony No. 1 -->
    <h4 class="text-light mb-3">Symphony No. 1 — Scores</h4>
    <div class="row gy-4 mb-5">
      <div class="col-md-6">
        <div class="p-4 rounded shadow-lg text-light" style="background-color: rgba(0, 0, 0, 0.6);">
          <h3>Symphony No. 1, Mvt. 1</h3>
          <p class="text-muted">Gram's 12 Tone Rows Orchestrated</p>
          <a href="{% static 'pdf/Gram12ToneRowsOrchestratedFullScoreSEPT2024.pdf' %}" class="btn btn-danger2" target="_blank">
            <i class="bi bi-file-earmark-pdf"></i> View PDF
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-4 rounded shadow-lg text-light" style="background-color: rgba(0, 0, 0, 0.6);">
          <h3>Symphony No. 1, Mvt. 2</h3>
          <p class="text-muted">Gram's 12 Tone Rows Orchestrated</p>
          <a href="{% static 'pdf/MVT2.pdf' %}" class="btn btn-danger2" target="_blank">
            <i class="bi bi-file-earmark-pdf"></i> View PDF
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-4 rounded shadow-lg text-light" style="background-color: rgba(0, 0, 0, 0.6);">
          <h3>Symphony No. 1, Mvt. 3</h3>
          <p class="text-muted">Gram's 12 Tone Rows Orchestrated</p>
          <a href="{% static 'pdf/MVT3.pdf' %}" class="btn btn-danger2" target="_blank">
            <i class="bi bi-file-earmark-pdf"></i> View PDF
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-4 rounded shadow-lg text-light" style="background-color: rgba(0, 0, 0, 0.6);">
          <h3>Symphony No. 1, Mvt. 4</h3>
          <p class="text-muted">Gram's 12 Tone Rows Orchestrated</p>
          <a href="{% static 'pdf/MVT4.pdf' %}" class="btn btn-danger2" target="_blank">
            <i class="bi bi-file-earmark-pdf"></i> View PDF
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-4 rounded shadow-lg text-light" style="background-color: rgba(0, 0, 0, 0.6);">
          <h3>Symphony No. 1, Mvt. 5</h3>
          <p class="text-muted">Gram's 12 Tone Rows Orchestrated</p>
          <a href="{% static 'pdf/MVT5.pdf' %}" class="btn btn-danger2" target="_blank">
            <i class="bi bi-file-earmark-pdf"></i> View PDF
          </a>
        </div>
      </div>
    </div>

    <!-- Choral Works -->
    <h4 class="text-light mb-3">Choral Works</h4>
    <div class="row gy-4 mb-5">
      <div class="col-md-6">
        <div class="p-4 rounded shadow-lg text-light" style="background-color: rgba(0, 0, 0, 0.6);">
          <h3>Paradiso Canto 33</h3>
          <p class="text-muted">For SSAATTBB a cappella choir</p>
          <a href="{% static 'pdf/ParadisoCanto33.pdf' %}" class="btn btn-danger2" target="_blank">
            <i class="bi bi-file-earmark-pdf"></i> View PDF
          </a>
        </div>
      </div>
    </div>

    <!-- Other Works -->
    <h4 class="text-light mb-3">Other Works</h4>
    <div class="row gy-4">
      <div class="col-md-6">
        <div class="p-4 rounded shadow-lg text-light" style="background-color: rgba(0, 0, 0, 0.6);">
          <h3>Tuning is Big</h3>
          <a href="{% static 'pdf/TUNING IS BIG!.pdf' %}" class="btn btn-danger2" target="_blank">
            <i class="bi bi-file-earmark-pdf"></i> View PDF
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-4 rounded shadow-lg text-light" style="background-color: rgba(0, 0, 0, 0.6);">
          <h3>Born To Swing</h3>
          <a href="{% static 'pdf/BORNTOSWING.pdf' %}" class="btn btn-danger2" target="_blank">
            <i class="bi bi-file-earmark-pdf"></i> View PDF
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="shop" class="py-5 text-light">
  <div class="parallax-bg position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25" 
       style="background-image: url('{% static "images/Slide-Show-1.jpg" %}'); background-size: cover; background-attachment: fixed; z-index: -1;">
  </div>
  <div class="container">
      <h3 class="display-1  text-gradient mb-4 text-center">Shop</h3>

      <!-- Tabs Navigation -->
      <ul class="nav nav-tabs justify-content-center mb-4" id="shopTab" role="tablist">
          <li class="nav-item" role="presentation">
              <button class="nav-link active text-gradient text-light"  id="singles-tab" data-bs-toggle="tab" data-bs-target="#singles" type="button" role="tab" aria-controls="singles" aria-selected="true">Singles</button>
          </li>
          <li class="nav-item" role="presentation">
              <button class="nav-link text-gradient text-light" id="albums-tab" data-bs-toggle="tab" data-bs-target="#albums" type="button" role="tab" aria-controls="albums" aria-selected="false">Albums</button>
          </li>
          <!-- Merch Tab now links directly to merch page -->
          <li class="nav-item" role="presentation">
            <a class="nav-link text-gradient text-light" href="https://1-mary-gatchell.pixels.com/shop/framed+prints" target="_blank" role="tab" aria-controls="merch" aria-selected="false">Merch</a>
          </li>
      </ul>

      <!-- Tabs Content -->
      <div class="tab-content" id="shopTabContent">
          <!-- Singles Tab -->
          <div class="tab-pane fade show active" id="singles" role="tabpanel" aria-labelledby="singles-tab">
            <div class="d-flex justify-content-center flex-wrap gap-4">
                {% for single in page.singles.all %}
                <div class="col-auto"> <!-- Use col-auto to let the content dictate width -->
                    <div class="card card12 text-light border-0 mx-auto" style="width: 15rem; font-size: 0.9rem;"> <!-- mx-auto centers the card -->
                        {% if single.image %}
                        <img src="{{ single.image.file.url }}" class="card-img-top" alt="{{ single.title }}">
                        {% endif %}
                        <div class="card-body text-center">
                            <h5 class="card-title" style="font-size: 1rem;">{{ single.title }}</h5>
                            <p class="card-text">{{ single.description |richtext }}</p>
                            <a href="{{ single.buy_url }}" class="btn btn-danger2 btn-sm" target="_blank">Listen</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
          <!-- Albums Tab -->
          <div class="tab-pane fade" id="albums" role="tabpanel" aria-labelledby="albums-tab">
            <div class="d-flex justify-content-center flex-wrap  gap-4"> <!-- Centering wrapper -->
              {% for album in page.albums.all %}
              <div class="col-auto mb-4">
                <div class="card card12 text-light border-0" style="width: 15rem; font-size: 0.9rem;"> <!-- Adjusted size -->
                  {% if album.image %}
                  <img src="{{ album.image.file.url }}" class="card-img-top" alt="{{ album.title }}" style="height: 150px; object-fit: cover;"> <!-- Adjusted image size -->
                  {% endif %}
                  <div class="card-body text-center">
                    <h5 class="card-title" style="font-size: 1rem;">{{ album.title }}</h5>
                    <p class="card-text">{{ album.description|richtext }}</p>
                    <p class="card-text">
                      <strong>Price:</strong> ${{ album.price }}
                    </p>
                    <p class="card-text">
                      <strong>Payment:</strong> Venmo <br>
                      <span class="text-warning">{{ album.venmo_id }}</span>
                    </p>
                    <a href="{{ album.buy_url }}" class="btn btn-danger2 btn-sm" target="_blank">Pay on Venmo</a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
           
      </div>
  </div>
</section>


<section id="mailing-list" class="py-5 text-light" style="font-family: 'Roboto', sans-serif;">
  <div class="container">
    <div class="row align-items-center text-center text-md-start">
        <!-- Brand and Description -->
        <div class="col-md-4 mb-3 mb-md-0">
            <h4 class="fw-bold text-gradient">Mary Gatchell</h4>
            <p class="small">
                Inspiring creativity and innovation through Music. Connect with me and stay updated!
            </p>
        </div>

        <!-- Social Media Links -->
        <div class="col-md-4 mb-3 mb-md-0">
            <h5 class="fw-bold">Follow Me</h5>
            <div class="d-flex justify-content-center justify-content-md-start gap-3">
                <a href="https://www.facebook.com/SyrethaMusic/" target="_blank" class="text-light" aria-label="Facebook">
                    <i class="bi bi-facebook fs-3"></i>
                </a>
                <a href="https://www.instagram.com/syrethasyretha/" target="_blank" class="text-light" aria-label="Instagram">
                    <i class="bi bi-instagram fs-3"></i>
                </a>
                <a href="https://x.com/i/flow/login?redirect_after_login=%2Fmarygatchell" target="_blank" class="text-light" aria-label="Twitter">
                    <i class="bi bi-twitter fs-3"></i>
                </a>
                <a href="https://www.youtube.com/marygatchellTV" target="_blank" class="text-light" aria-label="YouTube">
                    <i class="bi bi-youtube fs-3"></i>
                </a>
                <a href="https://music.apple.com/us/artist/mary-gatchell/65332850" target="_blank" class="text-light" aria-label="TikTok">
                    <i class="bi bi-apple fs-3"></i>
                </a>
                <a href="https://open.spotify.com/artist/0CACNK11rIlABl0o9z4oiS?si=EfJswTcwQ1-koCA3hApbMg" target="_blank" class="text-light" aria-label="Spotify">
                    <i class="bi bi-spotify fs-3"></i>
                </a>
            </div>
        </div>

        <!-- Newsletter Subscription -->
        <div class="col-md-4">
            <h5 class="fw-bold">Subscribe to Our Newsletter</h5>
            <form action="https://formspree.io/f/mzzbqrdl" method="POST" class="d-flex flex-column gap-3">
                <input type="text" class="form-control" placeholder="Enter your name" name="name" required>
                <input type="email" class="form-control" placeholder="Enter your email" name="email" required>
                <button type="submit" class="btn btn-danger2">Subscribe</button>
            </form>
        </div>
    </div>

    <!-- Divider -->
    <hr class="my-4 text-secondary">

    <!-- Footer Bottom -->
    <div class="row">
        <div class="col text-center">
            <p class="small mb-0">
                 &copy; 2024 Mary. Photo: Allie Burke & Juren David   Web: Richmond
            </p>
        </div>
    </div>
  </div>
</section>




{% endblock %}
