{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags cache %}
{% load static %}

{% block banner %}


<!-- Slideshow Section -->
<header id="home" class="carousel slide" data-bs-ride="carousel" style="margin-bottom: 0; height: 100vh; overflow: hidden; background-color: rgb(1, 0, 0);">
  <div class="header-overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: transparent; z-index: 1;"></div>

  <!-- Carousel Indicators -->
  <div class="carousel-inner" style="height: 100%; width:100%; overflow-x: hidden;">
    
    <!-- First Slide -->
    <div class="carousel-item active" data-bs-interval="10000">
      {% if page.banner_background_image1 %}
      <div class="carousel-background" 
           style="background-image: url('{{ page.banner_background_image1.file.url }}'); 
                  background-repeat: repeat;
                  background-size: contain;
                  background-position: center;
                  width: 100%; height: 100vh;">
      </div>
      {% endif %}
       
    </div>

    <!-- Second Slide -->
    <div class="carousel-item" data-bs-interval="10000">
      {% if page.banner_background_image2 %}
      <div class="carousel-background" 
           style="background-image: url('{{ page.banner_background_image2.file.url }}'); 
                  background-repeat: repeat;
                  background-size: contain;
                  background-position: center;
                  width: 100%; height: 100vh;">
      </div>
      {% endif %}
      <div class="carousel-caption d-none d-md-block text-dark" style="margin-bottom: 10%; font-size: xx-large; width: 200px; height: 150px; background-color:transparent; align-self: center; justify-self: center; z-index: 2;">
        <a target="_blank" href="https://www.instantseats.com/index.cfm?fuseaction=home.event&eventID=8A0EA563-DEF5-6566-32682C9E6E728FC2" style="display: block; height: 100%; width: 100%;"></a>  <!-- Link to Tickets -->
      </div>    
    </div>

    <!-- Third Slide -->
    <div class="carousel-item" data-bs-interval="10000">
      {% if page.banner_background_image3 %}
      <div class="carousel-background" 
           style="background-image: url('{{ page.banner_background_image3.file.url }}'); 
                  background-repeat: repeat;
                  background-size: contain;
                  background-position: center;
                  width: 100%; height: 100vh;">
      </div>
      {% endif %}
      <div class="carousel-caption d-none d-md-block text-dark" style="margin-bottom: 10%; font-size: xx-large; width: 200px; height: 150px; background-color:transparent; align-self: center; justify-self: center; z-index: 2;">
        <a href="#shows" style="display: block; height: 100%; width: 100%;"></a>  <!-- Link to Tickets -->
      </div> 
    </div>

    <div class="carousel-indicators" style="margin-bottom: 2%;">
      <button type="button" data-bs-target="#home" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#home" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#home" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
  </div>
</header>


<section id="about" class="py-5 text-light position-relative">
  <div class="parallax-bg position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25" 
       style="background-image: url('{% static "images/Slide-Show-1.jpg" %}'); background-size: cover; background-attachment: fixed; z-index: -1;">
  </div>
  <div class="container">
      <!-- Hero Content Row -->
      <div class="row align-items-center mb-5 flex-column flex-md-row">
          <!-- Profile Image in Upper Left Corner -->
          <div class="col-auto text-start">
            <div class="profile-image-container position-relative">
              <img src="{% static 'images/PROF.png' %}" alt="About-picture"
                   class="img-fluid rounded-circle shadow-lg border border-4 border-danger profile-img" style="width: 100%; height: 200px;">
          </div>
          
          </div>
          <!-- Hero Text -->
          <div class="col text-center text-md-start mt-3 mt-md-0">
              <h3 class="display-1  text-gradient"> Mary Gatchell</h3>
          </div>
      </div>

      <!-- Description with Two Columns -->
      <div class="row ">
          <div class="col-md-6 ">
              <p class="fs-6">
              NYC’s Mary Gatchell is a multi-faceted composer, singer, songwriter, oboist, pianist, conductor, music director, and educator. Raised in Epping, New Hampshire in the United States, Mary went on to earn her Bachelor’s degree in Jazz Theory and Composition and a Master’s degree in Jazz Piano both at NYU.
              Growing up on stage singing, acting, and dancing in Broadway productions at Leddy Center for the Performing Arts, founded by her mother, Elaine Gatchell, and playing in the concert and jazz bands on oboe and piano, directed by her father, J. Bruce Gatchell, Mary gained invaluable training throughout her formative years.
              After graduating from NYU in 1999, Mary went on to perform in NYC venues such as: Blue Note, Carnegie Hall, Avery Fisher Hall, Birdland, Knitting Factory, Bitter End, Cutting Room, Rockwood Music Hall, Groove, and CBGB’s. On Broadway she has performed in the Lamb’s Theatre, Minskoff Theatre, Lena Horne Theatre (formerly Brooks Atkinson Theatre), and Barrymore Theatre. She has brought her original music to concert halls, opera houses, jazz clubs, and festivals in Italy and The Arts Center beautiful Blue Hall in Abu Dhabi. She sang with legendary rock band, The Rolling Stones in Brooklyn’s Barclays Center and Newark’s Prudential Center, for their 50th Anniversary tour with NYC’s premiere a cappella choir, Ghostlight Chorus.
              In 2018, Mary was the pianist for Andrew Lloyd Webber’s Jesus Christ Superstar starring John Legend, Sara Bareilles, and Alice Cooper, which aired on television live on Easter Sunday on NBC. Starting in 2018, she became a conductor and pianist on stage on Broadway for Sara Bareilles’ show, Waitress. Mary was conductor and pianist for the Broadway hit, Six The Musical since it’s arrival to NYC in early 2020.
              In March of 2024, Mary had two world premieres of her compositions in New York City. The first, entitled Giza Suite, is composed for woodwind quintet inspired by her recent trip to Egypt. The second, Symphony No. 1, Gram’s 12 Tone Rows,mvt. 1, utilized two 12 tone rows her grandmother, Dorothy Bassett, had composed in 1959, expanding and arranging them for orchestra with her father, J. Bruce Gatchell. Movement two was premiered in October of 2024. Movement three will be premiered on April 4th, 2025 in NYC.
              </p>
          </div>
          <div class="col-md-6 border-md-start ">
              <p class="fs-6">
                In the summer of 2023, her classical composition, Paradiso Canto 33, was premiered in Siena, Italy setting Dante’s beautiful text to music for a cappella choir, performed by Ghostlight Chorus.
                Mary is the principal oboist with the Leon Lacey Orchestra (Beyonce/Janet Jackson) since 2008, performing in various churches and concert halls, including Brooklyn’s historic Kings Theatre accompanying gospel greats, Yolanda Adams, Kim Burrell, Hezikiah Walker, Ty Tribbett, Donald Lawrence, and more. Last December, Mary was the principal oboist with the New York Chamber Players performing works from Beethoven to Saint-Saens at Carnegie Hall.
                Mary is also a session singer and sings with various bands in NYC including New Orleans southern funk band, Strangeland, playing the music of Leon Russell, the Meters, and Dr. John that plays regularly in Greenwich village at the iconic club, Bitter End, 1960’s home to Joni Mitchell and Bob Dylan and many artists since.
                A passionate teacher, Mary was a faculty member at Nyack College in NYC from 2015-2022, teaching ear training, music theory, acting, and conducting. She was also the co-director of the Chorale and the music director, co-director, and choreographer of the musical productions for West Side Story, In the Heights, The Wiz, Jesus Christ Superstar, and Dreamgirls.
                In connection with the Worldwide Orphans Foundation, Mary has journeyed to Ethiopia twice implementing a sustainable music curriculum for HIV-infected and impoverished children, and to Bulgaria to teach music to orphans with special needs. 
                Mary is the co-founder and artistic director of the Italian chamber music festival, Siena Summer Music, held in Siena, Italy from 2008-2016. Here, composers, instrumentalists, and singers came from around the world to hone their skills and perform in cathedrals, concert halls, and unique Tuscan outdoor settings.
                Mary is currently a Visiting Lecturer of Music at NYU Abu Dhabi.
                As a bandleader and prolific songwriter, Mary has released 7 albums of her original music including a children’s album, 3 albums of hymns and spirituals, a Christmas album, and a jazz album of standards.
                Mary released her 14th album, Destiny, exclusively on vinyl, in December 2024 produced by ATN Stadwijk. In this album, she composed music to a collection of love poems by Rabia of Basra, Rumi, Hafiz, St. Catherine of Siena, and Farouk Henry of NYC.
              </p>
          </div>
      </div>

      <!-- Call to Action Buttons -->
      

      <!-- Highlights Section -->
      <div class="row text-center text-md-start py-4 border-top border-light mt-5">
        <div class="col-md-4">
            <div class="highlight-box position-relative p-4">
                <a href="#shop" style="text-decoration: none;">
                    <i class="bi bi-award fs-1 text-light" style="align-self: center;"></i>
                    <h3 class="mt-3 fw-bold text-light">Albums</h3>
                    <p class="p1 text-gradient">Dominating with record-breaking sales.</p>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="highlight-box position-relative p-4">
                <a href="#shows" style="text-decoration: none;">
                    <i class="bi bi-mic-fill fs-1 text-light"></i>
                    <h3 class="mt-3 fw-bold text-light">Live Shows</h3>
                    <p class="p1 text-gradient">Mesmerizing audiences in different countries worldwide.</p>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="highlight-box position-relative p-4">
                <a href="https://open.spotify.com/artist/0CACNK11rIlABl0o9z4oiS?si=uHolQOApSIqiyGiLdaeCOA" target="_blank" style="text-decoration: none;">
                    <i class="bi bi-headphones fs-1 text-light"></i>
                    <h3 class="mt-3 fw-bold text-light">Streams</h3>
                    <p class="p1 text-gradient">Music that resonates with millions across platforms.</p>
                </a>
            </div>
        </div>
    </div>
    
  </div>

  <!-- Parallax Background -->
  
</section>

<section id="listen" class="py-5 text-light" style="font-family: 'Roboto', sans-serif;">
  <div class="parallax-bg position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25" 
       style="background-image: url('{% static "images/Slide-Show-1.jpg" %}'); background-size: cover; background-attachment: fixed; z-index: -1;">
  </div>
  <div class="container">
      <h3 class="display-1  text-gradient mb-4 text-center">Listen</h3>

      <!-- Spotify Playlist Embed -->
      <div class="row justify-content-center" >
          <div class="col-md-8">
              <div class="spotify-embed rounded shadow-lg overflow-hidden">
                  <iframe 
                      style="border-radius:12px" 
                      src="https://open.spotify.com/embed/playlist/42OpqimJRakhQ785JhgXZ5?utm_source=generator&theme=0" 
                      width="100%" 
                      height="400" 
                      frameborder="0" 
                      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
                      loading="lazy">
                  </iframe>
              </div>
          </div>
      </div>

      <!-- Description -->
      <div class="row text-center mt-4">
          <div class="col">
              <a href="https://open.spotify.com/artist/0CACNK11rIlABl0o9z4oiS?si=EfJswTcwQ1-koCA3hApbMg" target="_blank" 
                 class="btn btn-outline-light btn-lg px-5 py-3 shadow-sm">
                 Follow on Spotify
              </a>
          </div>
      </div>
  </div>
</section>

<section id="watch" class="py-5 text-light" 
    style="font-family: 'Roboto', sans-serif; 
           background-size: cover;  
           background-position: center;  
           background-image: url('{% static "images/g10.jpg" %}');">
  <div class="container">
      <h3 class="display-1 text-gradient mb-4 text-center">Watch</h3>

      <!-- Row for YouTube Videos -->
      <div class="row">
          <!-- Left Video -->
          <div class="col-md-6 mb-4">
              <div class="youtube-embed rounded shadow-lg overflow-hidden" style="border: 1px solid #ff9900;">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/7EnzKscbwr4?si=pg_x75B0wYz-d4_I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              </div>
          </div>

          <!-- Right Video -->
          <div class="col-md-6 mb-4">
              <div class="youtube-embed rounded shadow-lg overflow-hidden" style="border: 1px solid #ff9900;">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/pZB71aUByqI?si=_a9ARVgow56PUBpa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              </div>
          </div>
      </div>

      <!-- Button to YouTube Channel -->
      <div class="row text-center mt-4">
          <div class="col">
              <a href="https://www.youtube.com/@MaryGatchellTV" target="_blank" 
                 class="btn btn-outline-light btn-lg px-5 py-3 shadow-sm">
                 Visit Channel
              </a>
          </div>
      </div>
  </div>
</section>



<section id="shows" class="py-5 text-light" style="font-family: 'Roboto', sans-serif;">
  <div class="parallax-bg position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25" 
       style="background-image: url('{% static "images/Slide-Show-1.jpg" %}'); background-size: cover; background-attachment: fixed; z-index: -1;">
  </div>
  <div class="container">
      <h3 class="display-1 text-gradient mb-4 text-center">Shows</h3>

      <!-- Upcoming Shows List -->
      <h2 class="text-center mb-4">Upcoming Shows</h2>
      <div class="row text-center text-md-start gy-4">
          {% for show in page.get_upcoming_shows %}
          <div class="col-md-4">
              <div class="position-relative p-4 card12 bg-opacity-50 rounded shadow-lg highlight-box1">
                  {% if show.poster_image %}
                  <div class="mb-3">
                      <img src="{{ show.poster_image.file.url }}" alt="{{ show.name }}" class="img-fluid rounded shadow-sm">
                  </div>
                  {% endif %}
                  <h3 class="fw-bold text-gradient">{{ show.name }}</h3>
                  <p class="fs-6 mb-1"><i class="bi bi-calendar3"></i> {{ show.date_time|date:"D, M d @ h:i A" }}</p>
                  <p class="fs-6 mb-3"><i class="bi bi-geo-alt"></i> 
                      <a href="{{ show.venue_url }}" target="_blank" class="text-decoration-none text-warning">{{ show.venue }}</a>
                  </p>
                  <p class="fs-6 text-light">{{ show.description|richtext }}</p>
                  {% if show.ticket_url %}
                  <a href="{{ show.ticket_url }}" class="btn text-gradient btn-sm" target="_blank">Get Tickets</a>
                  {% endif %}
              </div>
          </div>
          {% empty %}
          <p class="text-center">No upcoming shows available.</p>
          {% endfor %}
      </div>

      <!-- Expand/Collapse Button for Past Shows -->
      <div class="text-center mt-5">
          <button class="btn btn-outline-light btn-lg px-5 py-3 shadow-sm" 
                  type="button" 
                  id="toggle-past-shows-btn">
              View Past Shows
          </button>
      </div>

      <!-- Old Shows List -->
      <div class="mt-4 d-none" id="old-shows">
          <div class="row text-center text-md-start gy-4">
              {% for show in page.get_past_shows %}
              <div class="col-md-4">
                  <div class="position-relative p-4 card12 bg-opacity-50 rounded shadow-lg highlight-box1">
                      {% if show.poster_image %}
                      <div class="mb-3">
                          <img src="{{ show.poster_image.file.url }}" alt="{{ show.name }}" class="img-fluid rounded shadow-sm">
                      </div>
                      {% endif %}
                      <h3 class="fw-bold text-gradient">{{ show.name }}</h3>
                      <p class="fs-6 mb-1"><i class="bi bi-calendar3"></i> {{ show.date_time|date:"D, M d @ h:i A" }}</p>
                      <p class="fs-6 mb-3"><i class="bi bi-geo-alt"></i> 
                          <a href="{{ show.venue_url }}" target="_blank" class="text-decoration-none text-warning">{{ show.venue }}</a>
                      </p>
                      <p class="fs-6 text-light">{{ show.description|richtext }}</p>
                  </div>
              </div>
              {% empty %}
              <p class="text-center">No past shows available.</p>
              {% endfor %}
          </div>
      </div>
  </div>
</section>


<section id="gallery" class="py-5 text-light">
  <div class="parallax-bg position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25" 
       style="background-image: url('{% static "images/Slide-Show-1.jpg" %}'); background-size: cover; background-attachment: fixed; z-index: -1;">
  </div>
  <div class="container">
      <h3 class="text-center display-1  text-gradient mb-4">Gallery</h3>

      <!-- Gallery Grid -->
      <div class="row row-cols-1 row-cols-md-3 g-4">
          <!-- Image 1 -->
          <div class="col">
              <div class="gallery-item gallery-image">
                  <img src="{% static 'images/G-1.jpg' %}" alt="Gallery Image 1" class="img-fluid rounded shadow-sm gallery-image" data-bs-toggle="modal" data-bs-target="#imageModal1">
              </div>
          </div>
          <!-- Image 2 -->
          <div class="col">
              <div class="gallery-item gallery-image">
                  <img src="{% static 'images/G-2.jpg' %}" alt="Gallery Image 2" class="img-fluid rounded shadow-sm gallery-image" data-bs-toggle="modal" data-bs-target="#imageModal2">
              </div>
          </div>
          <!-- Image 3 -->
          <div class="col">
              <div class="gallery-item gallery-image">
                  <img src="{% static 'images/G-3.jpg' %}" alt="Gallery Image 3" class="img-fluid rounded shadow-sm gallery-image" data-bs-toggle="modal" data-bs-target="#imageModal3">
              </div>
          </div>
          <!-- Image 4 -->
          <div class="col">
              <div class="gallery-item gallery-image">
                  <img src="{% static 'images/G4.jpg' %}" alt="Gallery Image 4" class="img-fluid rounded shadow-sm gallery-image" data-bs-toggle="modal" data-bs-target="#imageModal4">
              </div>
          </div>
          <!-- Image 5 -->
          <div class="col">
              <div class="gallery-item gallery-image">
                  <img src="{% static 'images/G5.jpg' %}" alt="Gallery Image 5" class="img-fluid rounded shadow-sm gallery-image" data-bs-toggle="modal" data-bs-target="#imageModal5">
              </div>
          </div>
          <!-- Image 6 -->
          <div class="col">
              <div class="gallery-item gallery-image">
                  <img src="{% static 'images/G-6.jpg' %}" alt="Gallery Image 6" class="img-fluid rounded shadow-sm gallery-image" data-bs-toggle="modal" data-bs-target="#imageModal6">
              </div>
          </div>
          <div class="col">
            <div class="gallery-item gallery-image">
                <img src="{% static 'images/G6.jpg' %}" alt="Gallery Image 7" class="img-fluid rounded shadow-sm gallery-image" data-bs-toggle="modal" data-bs-target="#imageModal7">
            </div>
          </div>
          <div class="col">
            <div class="gallery-item gallery-image">
                <img src="{% static 'images/G-8.jpg' %}" alt="Gallery Image 8" class="img-fluid rounded shadow-sm gallery-image" data-bs-toggle="modal" data-bs-target="#imageModal8">
            </div>
          </div>
          <div class="col">
              <div class="gallery-item gallery-image">
                  <img src="{% static 'images/G-9.jpg' %}" alt="Gallery Image 9" class="img-fluid rounded shadow-sm gallery-image" data-bs-toggle="modal" data-bs-target="#imageModal9">
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Modal 1 -->
<div class="modal fade" id="imageModal1" tabindex="-1" aria-labelledby="imageModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{% static 'images/G-1.jpg' %}" class="img-fluid" alt="Full Image 1">
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="imageModal2" tabindex="-1" aria-labelledby="imageModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{% static 'images/G-2.jpg' %}" class="img-fluid" alt="Full Image 2">
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 -->
<div class="modal fade" id="imageModal3" tabindex="-1" aria-labelledby="imageModalLabel3" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{% static 'images/G-3.jpg' %}" class="img-fluid" alt="Full Image 3">
      </div>
    </div>
  </div>
</div>

<!-- Modal 4 -->
<div class="modal fade" id="imageModal4" tabindex="-1" aria-labelledby="imageModalLabel4" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{% static 'images/G4.jpg' %}" class="img-fluid" alt="Full Image 4">
      </div>
    </div>
  </div>
</div>

<!-- Modal 5 -->
<div class="modal fade" id="imageModal5" tabindex="-1" aria-labelledby="imageModalLabel5" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{% static 'images/G5.jpg' %}" class="img-fluid" alt="Full Image 5">
      </div>
    </div>
  </div>
</div>

<!-- Modal 6 -->
<div class="modal fade" id="imageModal6" tabindex="-1" aria-labelledby="imageModalLabel6" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{% static 'images/G-6.jpg' %}" class="img-fluid" alt="Full Image 6">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="imageModal7" tabindex="-1" aria-labelledby="imageModalLabel7" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{% static 'images/G6.jpg' %}" class="img-fluid" alt="Full Image 6">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="imageModal8" tabindex="-1" aria-labelledby="imageModalLabel8" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{% static 'images/G-8.jpg' %}" class="img-fluid" alt="Full Image 6">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="imageModal9" tabindex="-1" aria-labelledby="imageModalLabel9" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{% static 'images/G-9.jpg' %}" class="img-fluid" alt="Full Image 6">
      </div>
    </div>
  </div>
</div>

<section id="projects" class="py-5 position-relative">
  <!-- Parallax Background -->
  <div class="parallax-bg position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25" 
       style="background-image: url('{% static "images/Slide-Show-1.jpg" %}'); background-size: cover; background-attachment: fixed; z-index: -1;">
  </div>
  
  <div class="container">
    <h3 class="display-1  text-gradient mb-5 text-center">Projects</h3>
    <div class="row gy-4">
      <!-- Project 1 -->
      <div class="col-md-6">
        <div class="p-4 rounded shadow-lg text-light" style="background-color: rgba(0, 0, 0, 0.6);">
          <h3>Gram's 12 Tone Rows Orchestrated mvt 1</h3>
          
          <a href="{% static 'pdf/Gram12ToneRowsOrchestratedFullScoreSEPT2024.pdf' %}" class="btn btn-danger2" target="_blank">
            <i class="bi bi-file-earmark-pdf"></i> View PDF
          </a>
        </div>
      </div>
      <!-- Project 2 -->
      <div class="col-md-6">
        <div class="p-4 rounded shadow-lg text-light" style="background-color: rgba(0, 0, 0, 0.6);">
          <h3 >Gram's 12 Tone Rows Orchestrated mvt 2</h3>
         
          <a href="{% static 'pdf/MVT2.pdf' %}" class="btn btn-danger2" target="_blank">
            <i class="bi bi-file-earmark-pdf"></i> View PDF
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-4 rounded shadow-lg text-light" style="background-color: rgba(0, 0, 0, 0.6);">
          <h3 >Tuning is Big</h3>
          
          <a href="{% static 'pdf/TUNING IS BIG!.pdf' %}" class="btn btn-danger2" target="_blank">
            <i class="bi bi-file-earmark-pdf"></i> View PDF
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-4 rounded shadow-lg text-light" style="background-color: rgba(0, 0, 0, 0.6);">
          <h3 >Born To Swing</h3>
          
          <a href="{% static 'pdf/BORNTOSWING.pdf' %}" class="btn btn-danger2" target="_blank">
            <i class="bi bi-file-earmark-pdf"></i> View PDF
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="shop" class="py-5 text-light">
  <div class="parallax-bg position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25" 
       style="background-image: url('{% static "images/Slide-Show-1.jpg" %}'); background-size: cover; background-attachment: fixed; z-index: -1;">
  </div>
  <div class="container">
      <h3 class="display-1  text-gradient mb-4 text-center">Shop</h3>

      <!-- Tabs Navigation -->
      <ul class="nav nav-tabs justify-content-center mb-4" id="shopTab" role="tablist">
          <li class="nav-item" role="presentation">
              <button class="nav-link active text-gradient text-light"  id="singles-tab" data-bs-toggle="tab" data-bs-target="#singles" type="button" role="tab" aria-controls="singles" aria-selected="true">Singles</button>
          </li>
          <li class="nav-item" role="presentation">
              <button class="nav-link text-gradient text-light" id="albums-tab" data-bs-toggle="tab" data-bs-target="#albums" type="button" role="tab" aria-controls="albums" aria-selected="false">Albums</button>
          </li>
          <!-- Merch Tab now links directly to merch page -->
          <li class="nav-item" role="presentation">
            <a class="nav-link text-gradient text-light" href="https://1-mary-gatchell.pixels.com/shop/framed+prints" target="_blank" role="tab" aria-controls="merch" aria-selected="false">Merch</a>
          </li>
      </ul>

      <!-- Tabs Content -->
      <div class="tab-content" id="shopTabContent">
          <!-- Singles Tab -->
          <div class="tab-pane fade show active" id="singles" role="tabpanel" aria-labelledby="singles-tab">
            <div class="d-flex justify-content-center flex-wrap gap-4">
                {% for single in page.singles.all %}
                <div class="col-auto"> <!-- Use col-auto to let the content dictate width -->
                    <div class="card card12 text-light border-0 mx-auto" style="width: 15rem; font-size: 0.9rem;"> <!-- mx-auto centers the card -->
                        {% if single.image %}
                        <img src="{{ single.image.file.url }}" class="card-img-top" alt="{{ single.title }}">
                        {% endif %}
                        <div class="card-body text-center">
                            <h5 class="card-title" style="font-size: 1rem;">{{ single.title }}</h5>
                            <p class="card-text">{{ single.description |richtext }}</p>
                            <a href="{{ single.buy_url }}" class="btn btn-danger2 btn-sm" target="_blank">Listen</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
          <!-- Albums Tab -->
          <div class="tab-pane fade" id="albums" role="tabpanel" aria-labelledby="albums-tab">
            <div class="d-flex justify-content-center flex-wrap  gap-4"> <!-- Centering wrapper -->
              {% for album in page.albums.all %}
              <div class="col-auto mb-4">
                <div class="card card12 text-light border-0" style="width: 15rem; font-size: 0.9rem;"> <!-- Adjusted size -->
                  {% if album.image %}
                  <img src="{{ album.image.file.url }}" class="card-img-top" alt="{{ album.title }}" style="height: 150px; object-fit: cover;"> <!-- Adjusted image size -->
                  {% endif %}
                  <div class="card-body text-center">
                    <h5 class="card-title" style="font-size: 1rem;">{{ album.title }}</h5>
                    <p class="card-text">{{ album.description|richtext }}</p>
                    <p class="card-text">
                      <strong>Price:</strong> ${{ album.price }}
                    </p>
                    <p class="card-text">
                      <strong>Payment:</strong> Venmo <br>
                      <span class="text-warning">{{ album.venmo_id }}</span>
                    </p>
                    <a href="{{ album.buy_url }}" class="btn btn-danger2 btn-sm" target="_blank">Pay on Venmo</a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
           
      </div>
  </div>
</section>


<section id="mailing-list" class="py-5 text-light" style="font-family: 'Roboto', sans-serif;">
  <div class="container">
    <div class="row align-items-center text-center text-md-start">
        <!-- Brand and Description -->
        <div class="col-md-4 mb-3 mb-md-0">
            <h4 class="fw-bold text-gradient">Mary Gatchell</h4>
            <p class="small">
                Inspiring creativity and innovation through Music. Connect with me and stay updated!
            </p>
        </div>

        <!-- Social Media Links -->
        <div class="col-md-4 mb-3 mb-md-0">
            <h5 class="fw-bold">Follow Me</h5>
            <div class="d-flex justify-content-center justify-content-md-start gap-3">
                <a href="https://www.facebook.com/SyrethaMusic/" target="_blank" class="text-light" aria-label="Facebook">
                    <i class="bi bi-facebook fs-3"></i>
                </a>
                <a href="https://www.instagram.com/syrethasyretha/" target="_blank" class="text-light" aria-label="Instagram">
                    <i class="bi bi-instagram fs-3"></i>
                </a>
                <a href="https://x.com/i/flow/login?redirect_after_login=%2Fmarygatchell" target="_blank" class="text-light" aria-label="Twitter">
                    <i class="bi bi-twitter fs-3"></i>
                </a>
                <a href="https://www.youtube.com/MaryGatchellTV" target="_blank" class="text-light" aria-label="YouTube">
                    <i class="bi bi-youtube fs-3"></i>
                </a>
                <a href="https://music.apple.com/us/artist/mary-gatchell/65332850" target="_blank" class="text-light" aria-label="TikTok">
                    <i class="bi bi-apple fs-3"></i>
                </a>
                <a href="https://open.spotify.com/artist/0CACNK11rIlABl0o9z4oiS?si=EfJswTcwQ1-koCA3hApbMg" target="_blank" class="text-light" aria-label="Spotify">
                    <i class="bi bi-spotify fs-3"></i>
                </a>
            </div>
        </div>

        <!-- Newsletter Subscription -->
        <div class="col-md-4">
            <h5 class="fw-bold">Subscribe to Our Newsletter</h5>
            <form action="https://formspree.io/f/mzzbqrdl" method="POST" class="d-flex flex-column gap-3">
                <input type="text" class="form-control" placeholder="Enter your name" name="name" required>
                <input type="email" class="form-control" placeholder="Enter your email" name="email" required>
                <button type="submit" class="btn btn-danger2">Subscribe</button>
            </form>
        </div>
    </div>

    <!-- Divider -->
    <hr class="my-4 text-secondary">

    <!-- Footer Bottom -->
    <div class="row">
        <div class="col text-center">
            <p class="small mb-0">
                &copy; 2024 Mary. All rights reserved. | 
                <a href="#" class="text-decoration-none text-warning">Privacy Policy</a> | 
            </p>
        </div>
    </div>
  </div>
</section>




{% endblock %}